html, body
{
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  min-height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.content {
  min-height: 75vh;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1;
}
footer
{
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* padding-right: 20px; */
  margin: 0;
}
a, a:hover, a:focus, a:visited
{
  color: #000;
}
.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}
.mask {
  background: black;
  opacity: .3;
}